.header {
  padding: 40px 0;
  margin-bottom: 110px;
}

.header-menu {
  display: flex;
  justify-content: space-between;
}

.header-menu-item {
  display: flex;
  gap: 40px;
}

.header-menu-item a {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 1rem;
  color: var(--color-1);
}

.btn-budget {
  background: transparent;
  border: 1px solid var(--color-1);
  border-radius: 88px;
  padding: 6px 16px;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 1.125rem;
  color: var(--color-1);
  text-transform: uppercase;
  cursor: pointer;
}
