.main-content h1 {
  font-size: 8rem;
  color: var(--color-1);
  margin-bottom: 280px;
}

.main-infos {
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
  gap: 50px;
  background: var(--color-1);
  margin-bottom: 130px;
}

.main-infos-item {
  display: flex;
  align-items: center;
}

.main-infos-item h3 {
  font-size: 2rem;
  color: var(--color-title);
  margin-right: 20px;
}

.main-infos-item span {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--color-title);
}
