:root {
  --color-0: #ffffff;
  --color-1: #f7f7f7;
  --color-2: #717171;
  --color-title: #1e1e1e;
  --color-text: #404040;
}

.color-0 {
  color: var(--color-0);
}
.color-1 {
  color: var(--color-1);
}
.color-2 {
  color: var(--color-2);
}
.color-title {
  color: var(--color-title);
}
.color-text {
  color: var(--color-text);
}
